<app-header [title]="title" [navItems]="navItems" *ngIf="!loader"></app-header>
<!--==================== MAIN ====================-->
<main class="main" *ngIf="!loader">
    <app-home-section [prefilImageUrl]="prefilImageUrl" [title]="homeTitle" [subtitle]="homeSubtitle" [description]="homeDescription" [socialItems]="socialItems"></app-home-section>

    <app-about-section [img]="aboutImg" [description]="aboutDescription" [information]="aboutInfo" [cv]="aboutCV"></app-about-section>

    <app-skills-section [skills]="skills"></app-skills-section>

    <app-qualifications-section [qualifications]="qualifications"></app-qualifications-section>

    <!-- <app-services-section></app-services-section> -->

    <app-portfolio-section [portfolio]="portfolio"></app-portfolio-section>

    <!--==================== PROJECT IN MIND ====================-->
    <!-- <section class="project section">
        <div class="project__bg">
            <div class="project__container container grid">
                <div class="project__data">
                    <h2 class="project__title">You have a new project</h2>
                    <p class="project__description">Contact me now and get a 30% discount on your new project!</p>
                    <a href="#contact" class="button button--flex button--white">
                        Contact Me
                        <i class="uil uil-message project__icon button__icon"></i>
                    </a>
                </div>

                <img src="assets/img/project.png" alt="" class="project__img">
            </div>
        </div>

    </section> -->

    <!--==================== TESTIMONIAL ====================-->
    <!-- <section class="testimonial section"> -->
        <!--=======This feature is skipped for now========-->
    <!-- </section> -->

    <app-contact-section [contact]="contact"></app-contact-section>
</main>
<app-footer-section [footer]="footer" *ngIf="!loader"></app-footer-section>


<div class="notification__bottom" *ngIf="showMessage">{{message}}</div>

<!--==================== SCROLL TOP ====================-->
<a (click)="scrollToSection('home')" class="scrollup" id="scroll-up" *ngIf="!loader">
    <i class="uil uil-arrow-up scroll__icon"></i>
</a>

<div class="loader" *ngIf="loader" style="margin-top: 30vh;"></div>


